<div data-github-url="https://github.com/kamranahmedse/developer-roadmap/tree/master/src/data/roadmaps/vue/content/100-fundamental-topics/101-components/105-v-model.md"></div> <h1 id="v-model">v-model</h1>
<p>v-model is a directive that allows you to create two-way data bindings on form input, textarea, and select elements. It automatically picks the correct way to update the element based on the input type.</p>
<p>Visit the following resources to learn more:</p>
<ul>
<li><a href="https://vuejs.org/guide/components/v-model.html#component-v-model" rel="noopener noreferrer nofollow" target="_blank">@article@Vue.js Guide</a></li>
</ul>